p {
  color: black;
  background: white;
}

a {
  text-decoration: underline;
}

a:visited {
  color: #b73534;// changed to a color more diffrent to original link color
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  color: inherit;
}

h4, h5, h6 {
  font-size: 150%;
}
